{% comment %} {% extends 'home/index.html' %}

{%  block content %}
<div class="container">
    <div class="row">
        <div class="text-center col-sm-12">
                <p class="para">The Alphabets present in the uploaded image : <br><br></p>   
                <h2>{{ prediction }}</h2>
                <br><br>
                <a class="btn btn-info" href="/"> Back (Try another) </a>
        </div>
    </div>
</div>
{%  endblock content %}   {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Handwritten Dzongkha Alphabet Recognition System</title>


    <!--  Bootstrap css file  -->
    <link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}">

    <!--  font awesome icons  -->
    <link rel="stylesheet" href="{% static './css/all.min.css' %}">


    <!--  Magnific Popup css file  -->
    <link rel="stylesheet" href="{% static './vendor/Magnific-Popup/dist/magnific-popup.css' %}">


    <!--  Owl-carousel css file  -->
    <link rel="stylesheet" href="{% static './vendor/owl-carousel/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static './vendor/owl-carousel/css/owl.theme.default.min.css' %}">


    <!--  custom css file  -->
    <link rel="stylesheet" href="{% static './css/style.css' %}">

    <!--  Responsive css file  -->
    <link rel="stylesheet" href="{% static './css/responsive.css' %}">

</head>

<body>

    <!--  ======================= Start Header Area ============================== -->

    <header class="header_area">
        <div class="main-menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#"><img src="{% static './img/logo.png' %}" alt="logo" width="150px" height="80px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="mr-auto"></div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about" >about</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#service">services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#team">team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">contact</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div> 
    </header>

    <!--  ======================= End Header Area ============================== -->

    <!--  ======================= Start Main Area ================================ -->
    <main class="site-main">


        <!--  ======================= Start Banner Area =======================  -->
        <section class="site-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 site-title">
                        <h3 class="title-text">Welcome</h3>
                        <h1 class="title-text text-uppercase">Handwritten Dzongkha </h1>
                        <h4 class="title-text text-uppercase">Alphabate Recoginition System</h4>
                    </div>
                    <div class="col-lg-6 col-md-12 banner-image">
                        <img src="{% static './img/banner/1.png' %}" alt="banner-img" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>
        <!--  ======================= End Banner Area =======================  -->

        <!--  ========================= About Area ==========================  -->

        <section id="about" class="about-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="about-image">
                            <img src="{% static './img/goal.png' %}" alt="About us" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 about-title">
                        <h2 class="text-uppercase pt-5">
                            <span>Goals of the Project</span>
                        </h2>
                        <div class="paragraph py-4 w-75">
                            <p class="para">
                                The goal is to create a Handwritten Dzongkha Alphabet Recognition System using deep learning within a digital image, to process and recognize a character from a handwritten
                                character or a printed document.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--  ========================= End About Area ==========================  -->

        <!--  ======================== Brand Area ==============================  -->

        

        <!--  ======================== End Brand Area ==============================  -->

        <!--  ====================== Start Services Area =============================  -->

        <section id="service"  class="services-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center services-title">
                        <h1 class="text-uppercase title-text">Make Prediction</h1>
                        <p class="para">
                           These allow you to upload any dzongkha alphabate and make prediction
                        </p>
                    </div>
                </div>
                {%  block content %}
                <div class="container">
                    <div class="row">
                        <div class="text-center col-sm-12">
                                <p class="para">The Alphabets present in the uploaded image : <br><br></p>   
                                <h2>{{ prediction }}</h2>
                                <br><br>
                                <a class="btn btn-info" href="/"> Back (Try another) </a>
                        </div>
                    </div>
                </div>
                {%  endblock content %}    
                
        </section>

        <!--  ====================== End Services Area =============================  -->

        <!--  ======================= Project Area =============================  -->

      

        <!--  ======================= End Project Area =============================  -->

        <!--  ======================== About Me Area ==============================  -->

        <section id="team"  class="about-area">
            <div class="container">
                <div class="row text-center">
                    <div class="col-12">
                        <div class="about-title">
                            <h1 class="text-uppercase title-h1">Team</h1>
                            <p class="para">
                                Great things in business are never done by one person. 
                                They are done by a team of people. - Steve Jobs <br>
                                Meet our team PRJ303 G-5.

                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container carousel py-lg-5">
                <div class="owl-carousel owl-theme">
                    <div class="client row">
                        <div class="col-lg-4 col-md-12 client-img">
                            <img src="{% static './img/testimonials/tp.jpg' %}" alt="img1" class="img-fluid">
                        </div>
                        <div class="col-lg-8 col-md-12 about-client">
                            <h4 class="text-uppercase">Tshering Penjor</h4>
                            <p class="para">Project Lead</p>
                            <p class="para">12190097.gcit@rub.edu.bt</p>
                        </div>
                    </div>
                    <div class="client row">
                        <div class="col-lg-4 col-md-12 client-img">
                            <img src="{% static './img/testimonials/dj.jpg' %}" alt="img2" class="img-fluid">
                        </div>
                        <div class="col-lg-8 col-md-12 about-client">
                            <h4 class="text-uppercase">Dorji Gyeltshen</h4>
                            <p class="para">Lead Programmer</p>
                            <p class="para">12190049.gcit@rub.edu.bt</p>
                        </div>
                    </div>
                    <div class="client row">
                        <div class="col-lg-4 col-md-12 client-img">
                            <img src="{% static './img/testimonials/keza.jpg' %}" alt="img1" class="img-fluid">
                        </div>
                        <div class="col-lg-8 col-md-12 about-client">
                            <h4 class="text-uppercase">Tenzin Kelzang</h4>
                            <p class="para">Frontend Developer</p>
                            <p class="para">12190088.gcit@rub.edu.bt</p>
                        </div>
                    </div>
                    <div class="client row">
                        <div class="col-lg-4 col-md-12 client-img">
                            <img src="{% static './img/testimonials/sc.jpg' %}" alt="img2" class="img-fluid">
                        </div>
                        <div class="col-lg-8 col-md-12 about-client">
                            <h4 class="text-uppercase">SonamChoki</h4>
                            <p class="para">UI Developer</p>
                            <p class="para">12190078.gcit@rub.edu.bt</p>
                        </div>
                    </div>
                    <div class="client row">
                        <div class="col-lg-4 col-md-12 client-img">
                            <img src="{% static './img/testimonials/guide.jpg' %}" alt="img1" class="img-fluid">
                        </div>
                        <div class="col-lg-8 col-md-12 about-client">
                            <h4 class="text-uppercase">M/s. Sonam Wangmo</h4>
                            <p class="para">Project Guide</p>
                            <p class="para">sonamwangmo.gcit@rub.edu.bt</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!--  ======================== End About Me Area ==============================  -->

        <!--  ========================== Subscribe me Area ============================  -->

        <!--  ========================== End Subscribe me Area ============================  -->


    </main>
    <!--  ======================= End Main Area ================================ -->

    <footer id="contact"  class="footer-area">
        <div class="container">
            <div class="">
                <div class="site-logo text-center py-4">
                    <video width="600" height="340" controls>
                        <source src="{% static './img/Guide.mp4' %}"  type="video/mp4">
                        <source src="{% static './img/Guide.ogg' %}"  type="video/ogg">
                    </video>
                    {% comment %} <a href="#"><img src="{% static './img/logo.png' %}" alt="logo"></a> {% endcomment %}
                </div>
                <div class="social text-center">
                    <h5 class="text-uppercase">Follow Us</h5>
                </div>
                <div class="copyrights text-center">
                    <p class="para">
                        PRJ303 Group 5 | Download App here
                        <a href="#"><span style="color: var(--primary-color);">Handwritten Dzongkha App</span></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <!--  Jquery js file  -->
    <script src="{% static './js/jquery.3.4.1.js' %}"></script>

    <!--  Bootstrap js file  -->
    <script src="{% static './js/bootstrap.min.js' %}"></script>

    <!--  isotope js library  -->
    <script src="{% static './vendor/isotope/isotope.min.js' %}"></script>

    <!--  Magnific popup script file  -->
    <script src="{% static './vendor/Magnific-Popup/dist/jquery.magnific-popup.min.js' %}"></script>

    <!--  Owl-carousel js file  -->
    <script src="{% static './vendor/owl-carousel/js/owl.carousel.min.js' %}"></script>

    <!--  custom js file  -->
    <script src="{% static './js/main.js' %}"></script>

</body>

</html>


